[submodule "SonicCDDecomp/ghc"]
	path = SonicCDDecomp/ghc
	url = https://github.com/gulrak/filesystem
[submodule "RSDKv3/3ds/3ds-theoraplayer"]
	path = RSDKv3/3ds/3ds-theoraplayer
	url = https://github.com/SaturnSH2x2/3ds-theoraplayer
